#menu
{
  height: 50px;
  width: 1000px;
  border:1px solid blue;
  margin-left: 500px;
  margin-top: 90px;
  background-color:black;

border-radius:0px 10px 0px 10px;}
#menu ul li{display:inline;

padding:15px;
font-size: 25px;
color:white;
}
#menu ul
{list-style-type: none;}
#menu ul li a{color: white;
text-decoration: none;}
